<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
        <diV class="col-8 offset-2">
        <h1>Add new listing</h1>
        <br>    
        <diV class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" placeholder="Enter title" name="Listing[title]" class="form-control" required>
            <div class="invalid-feedback"> 
                Please Enter Title
            </div>
        </diV>
        <diV class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea type="text" placeholder="Write description.." name="Listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback"> 
                Please Enter Description
            </div>
        </diV>
        <div class="mb-3">
            <label for="image" class="form-lable">Upload Image</label>
            <input type="file" placeholder="Enter URL/Link" name="Listing[image]" class="form-control">
        </div>
        <diV class="row">
        <diV class="mb-3 col-4">
            <label for="price" class="form-lable">Price</label>
            <input type="text" placeholder="Enter price" name="Listing[price]" class="form-control" required>
            <div class="invalid-feedback"> 
                Please Enter Price
            </div>
        </diV>
        <diV class="mb-3 col-8">
            <label for="country" class="form-lable">Country</label>
            <input type="text" placeholder="Enter country" name="Listing[country]" class="form-control" required>
            <div class="invalid-feedback"> 
                Please Enter Country
            </div>
        </diV>
        </diV>
        <diV class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" placeholder="Enter location" name="Listing[location]" class="form-control" required>
            <div class="invalid-feedback"> 
                Please Enter Location
            </div>
        </diV>
        <br>
        <button class="btn btn-dark add-btn">Add listing</button>
        <br><br>
    </form>
    </diV>
    </div>
</body>
